@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
}

.background-gradient{
        /* ff 3.6+ */
        background:-moz-linear-gradient(179deg, rgba(20, 33, 61, 1) 50%, rgba(0, 0, 0, 1) 100%); 

        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(179deg, rgba(20, 33, 61, 1) 50%, rgba(0, 0, 0, 1) 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(179deg, rgba(20, 33, 61, 1) 50%, rgba(0, 0, 0, 1) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#14213D', GradientType=1 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(179deg, rgba(20, 33, 61, 1) 50%, rgba(0, 0, 0, 1) 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(179deg, rgba(20, 33, 61, 1) 50%, rgba(0, 0, 0, 1) 100%);
}
